<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta property="og:site_name" content="phixiv" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:url" content="{{ url }}" />
    <meta property="og:video" content="{{ image_proxy_url }}" />
    <meta property="og:video:secure_url" content="{{ image_proxy_url }}" />
    <meta property="og:video:type" content="video/mp4" />
    <meta property="og:image" content="0" />
    <meta name="twitter:card" content="player" />
    <link rel="alternate" type="application/json+oembed" href="https://{{ host }}/e?i={{ author_id }}&n={{ author_name }}">
</head>
<body>
    <a href="{{ url }}">You should have been redirected, here is a link to the original post.</a>
    <script type="text/javascript">
        window.location.replace("{{ url }}")
    </script>
</body>
</html>